body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #132c4e;
    color: white;
  }
  
  header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .link-logo {
    text-decoration: none;
  }
  .logo {
    background-color: #ccc;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E2A47;
    color: white;
}

header {
    background-color: #000;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E2A47;
    color: white;
}

header {
    background-color: #000;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.projetos {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.projeto {
    background-color: #2B2D3D;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    width: calc(50% - 40px); 
}

.projeto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.projeto a {
    color: #ff0000;
    text-decoration: none;
    word-wrap: break-word;
    display: inline-block;
}

.projeto a:hover {
    text-decoration: underline;
}