* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background: linear-gradient(180deg, #0a2342, #193b6b);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.menu {
  position: fixed;
  right: 20px;
  top: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: #00aaff;
}


.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 20px;
}


.foto {
  width: 200px;
  height: 200px;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 30px;
}


.texto {
  max-width: 700px;
}

.texto h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.texto p {
  line-height: 1.6;
  font-size: 18px;
}
header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.link-logo {
  text-decoration: none;
}
.logo {
  background-color: #ccc;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  min-height: 500vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}



body.dark-mode {
  --bg-color: #121212;
  --text-color: #f0f0f0;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-ball {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: left 0.3s, background-color 0.3s;
}

.dark-mode .switch {
  background-color: #444;
}

.dark-mode .switch-ball {
  left: 33px;
  background-color: #222;
  color: #f0f0f0;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}
body.dark-mode section{
  background-color: #ccc;
}